@font-face {
  font-family: "iconfont"; /* Project id 2872124 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1640142718314') format('woff2'),
       url('iconfont.woff?t=1640142718314') format('woff'),
       url('iconfont.ttf?t=1640142718314') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before {
  content: "\e6cc";
}

.icon-xiazai:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e620";
}

.icon-xuexi:before {
  content: "\e60c";
}

.icon--subscription:before {
  content: "\e6b8";
}

.icon-caidan--xian:before {
  content: "\e898";
}

.icon-dianji:before {
  content: "\e60a";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-xialakuangxiala:before {
  content: "\e60b";
}

.icon-yonghuguanli:before {
  content: "\e630";
}

.icon-jiantou_xiangyouliangci_o:before {
  content: "\eb91";
}

.icon-wenzhangguanli:before {
  content: "\e638";
}

.icon-bianji:before {
  content: "\e619";
}

.icon-xiangzuo:before {
  content: "\e616";
}

.icon-icon-mail:before {
  content: "\e608";
}

.icon-dianhua1:before {
  content: "\e62b";
}

.icon-GitHub:before {
  content: "\e609";
}

.icon-youxiang1:before {
  content: "\e651";
}

.icon-weixinlukuangcopy:before {
  content: "\e61b";
}

.icon-weixin1:before {
  content: "\e695";
}

.icon-weixin:before {
  content: "\e679";
}

.icon-xiaoyuanrongyu:before {
  content: "\e6d0";
}

.icon-suohuorongyu:before {
  content: "\e606";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-csdn:before {
  content: "\e607";
}

.icon-tubiaozhizuomoban:before {
  content: "\e603";
}

.icon-ajax:before {
  content: "\e604";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-React:before {
  content: "\e79a";
}

.icon-Nodejs:before {
  content: "\e79b";
}

.icon-java-script:before {
  content: "\e810";
}

.icon-npm:before {
  content: "\e71a";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e632";
}

.icon-dianhua:before {
  content: "\e600";
}

.icon-gerenjianli:before {
  content: "\e683";
}

.icon-xiangmujingyan:before {
  content: "\e63e";
}

.icon-jiaoyu:before {
  content: "\e6b5";
}

.icon-youxiang:before {
  content: "\e601";
}

.icon-gerenxinxi:before {
  content: "\e847";
}

.icon-jishuzhan:before {
  content: "\e605";
}

.icon-jishuzhan1:before {
  content: "\e602";
}

.icon-icon_jishuzhan:before {
  content: "\e61a";
}

.icon-zhankai:before {
  content: "\e6f5";
}

.icon-next:before {
  content: "\e6a2";
}

.icon-linecar105:before {
  content: "\e66c";
}

